
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Samata Bhratru Mandal</title>
    <link rel="icon" href="~/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/css/SplashScreen.css" rel="stylesheet" />
    <!--script type="text/javascript">
        window.setTimeout(function () {
            window.location.href = '@Url.Action("MemberHome", "Home")';
        }, 5000);
    </!--script>

</head>

<body>
    <!--::header part start::-->
    <!--::header part start::-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="splashscreen fade-in-image" style="background-image: url('@Url.Content("~/img/screen.png")');">
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div><img src="~/img/banner_img.png" class="spalsh-logo"></div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <h1 class="orgname">समता भ्रातृ मंडळ </h1><br />
                    <h3 class="pune">पिंपरी चिंचवड, पुणे </h3>
                    <h5 class="addr">
                        नोंदणी क्रं. महा./ ८६२-९७ / पुणे <br>
                        (ट्रस्ट नोंदणी क्रं. एफ १४१०३ पुणे.)
                    </h5>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    
                    
                    <table style="text-align:center">
                        <tr>
                            
                        </tr>
                        <tr>
                            <td>
                                
                            </td>
                        </tr>
                    </table>
                    
                    

                    
                </div>
            </div>
        </div>
    </div>
    <!-- Header part end-->
    <!--================Blog Area =================-->
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="~/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
</body>

</html>
