<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Samata Bhratru Mandal</title>
    <link rel="icon" href="~/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
   
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu single_page_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light" style="align-content:flex-start;flex-wrap: nowrap;flex-direction: row;">
                        <a class="navbar-brand logo_1" href="index.html"> समता भ्रातृ मंडळ</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="true" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                             id="navbarSupportedContent">

                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                                <li class="d-block d-xs-block d-sm-block d-md-block d-lg-block">

                                </li>
                            </ul>
                        </div>
                        <a class="btn_1bell" href="#"><i class="ti-bell"></i></a>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    <!-- Header part end-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="marqu" style="height:150px">
                        <div class="row">
                            <div class="col-xs-3 d-block d-sm-block d-md-block d-lg-block"><img src="~/img/icon/job-icon.png" width="50px" height="50px" class="img"></div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-8 d-block d-sm-block d-md-block d-lg-block center" style="color:#FFFFFF; text-align:center"><h4 style="color:#FFFFFF; text-align:center">Welcome to Member Registration Portal</h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 posts-list">
                    <div class="single-post">
                        <div class="blog_details">
                            <p class="excert">
                                Member Registration
                            </p>
                        </div>
                    </div>



                    <section>
                        <div class="rt-container">
                            <div class="col-rt-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="photo-container1">
                                            <i class="ti-edit"></i>
                                            <img src="~/img/img-1.png" style="margin:25px">
                                        </div>
                                        <section class="data-content1" style="background:#7c0053; width: calc(100% - 150px); padding:20px; color:#ffffff">
                                            <label>सभासदाचे नाव: </label><br><br>
                                            <label>सभासद क्रमांक: </label><br><br>
                                            <label>जन्म तारीख: </label><br><br>
                                            <label>मोबाईल: </label>

                                        </section>
                                    </div>
                                </div>
                                <div class="Scriptcontent">

                                    <section class="tabs-container">
                                        <label for="tab1" class="yel"> वैयक्तिक माहिती </label>
                                        <label for="tab2" class="lblu"> मुळगाव व संपर्क</label>
                                        <label for="tab3" class="grn"> शिक्षण / नोकरी </label>
                                        <label for="tab4" class="purp"> कुटुंबाविषयी माहिती </label>
                                       

                                    </section>                                   


                                    @RenderBody();


                                </div>
                            </div>
                        </div>
                    </section>





                </div>

            </div>
        </div>
    </section>


    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="~/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
</body>

</html>