<!DOCTYPE html>


<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Samata Bhratru Mandal</title>
    <link rel="icon" href="~/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="~/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
    <style>
        .search-box {
            background-color: #e9e9e9;
            padding: 20px 5px 20px 5px;
        }

        .search_result {
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.7);
            border-radius: 3px;
            -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.7);
           /* height: 195px*/
        }

        .search_cont {
            padding: 5px 0px 0px 20px;
            text-align: left
        }

        .left-box {
            padding: 0px 0px 0px 5px
        }

        .view-btn {
            background-color: #e4b887;
            padding: 5px;
            border-radius: 5px;
            margin-left: 66px;
            border: none;
            width: 75px;
        }

        .search-box_input {
            border-radius: 5px;
            margin: 10px 0px 10px 0px;
            height: 35px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid #53002e;
            padding: 5px 5px 5px 15px;
            width: 100%
        }

        .whatsapp {
            width: 10%
        }
    </style>

</head>
<body>
    <!--------------profile name top bar---------------->
    <div class="container">
    <div class="row">
       <div class="col-lg-12">
               <!------------icon dashbaord row-1--------------->
               <div class="container">
                 <div class="row ">
                     <div class="col-xs-4 logo-box">
                      <div class="text-left">
                        <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#exampleModal">
                         <img src="~/img/threeline.jpg" class="menu-icon">
                        </button>
                        <!--img src="sbm logo-1.png" class="logo"-->
                      </div>
                       
                     </div>
                     <div class="col-xs-6 title-box">
                      <h2>समता भ्रातृ मंडळ</h2>
                      <h4>(पिंपरी चिंचवड, पुणे)</h4>
                     </div>
                     <div class="col-xs-2 toolbar">
                     <h4 class="ic"><a asp-action="Logout" asp-controller="Login"><i class="ti-power-off"></i> <span class="sp">Logout</span></a></h4>
                     </div>
                 </div>
               </div>
               <!------------End of icon dashbaord row-1--------------->
       </div>
    </div>
    
</div>
    <!--------------End of profile name top bar---------------->  
    

    <!--------------dashboard-------------->
 <div class="container demo">
    <div class="modal left fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="nav flex-sm-column flex-row">
                        <a class="nav-item nav-link active" asp-action="Index" asp-controller="MemberDashboard">Home</a>
                        <a asp-action="ProfileUpdate" asp-controller="MemberDashboard" class="nav-item nav-link">Profile Update</a>
                        <a asp-action="MemberDoctors" asp-controller="MemberDashboard" class="nav-item nav-link">Doctor's Search</a>
                        <a asp-action="MemberSearchDashBoard" asp-controller="MemberDashboard" class="nav-item nav-link">Member Search</a>
                        <a asp-action="MemberBloodGroupSearch" asp-controller="MemberDashboard" class="nav-item nav-link">Blood Group Search</a>
                        <a asp-action="JobDirectory" asp-controller="JobDirectory" class="nav-item nav-link">Job Search</a>
                        <a asp-action="BusinessDashboard" asp-controller="BusinessDashboard" class="nav-item nav-link">Business Directory</a>
                        <a asp-action="MatrimonySearch" asp-controller="Matrimony" class="nav-item nav-link">Matrimony Search</a>
                        <a asp-action="SearchEventAds" asp-controller="Events" class="nav-item nav-link">Advertisement</a>
                        <a asp-action="EventDashboard" asp-controller="Events" class="nav-item nav-link">Our Events</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  </div>
    @RenderBody()
    <!--------------end of dashboard-------------->
   
</body>

</html>