
@{
    ViewData["Title"] = "MatrimonySearch";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<h1>MatrimonySearch</h1>
<a asp-action="VarSearch" asp-controller="Matrimony">Var Search</a>
<a asp-action="VadhuSearch" asp-controller="Matrimony">Vadhu Search</a>

