
@{
    ViewData["Title"] = "MatrimonyCandidateProfile";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-box">
                    <p>Member Profile</p>
                </div>
                <div class="col-rt-12">
                    <div class="container">
                        <div class="row" style="background:#7c0053">
                            <div class="photo-container1">
                                <i class="ti-edit"></i>
                                <img src="img/pic.png" style="margin:15px">
                            </div>
                            <section class="data-content1" style="background:#7c0053; width: calc(100% - 150px); padding:20px; color:#ffffff">
                                <ul class="profile-text">
                                    <li>सभासदाचे नाव:</li>
                                    <li>सभासद क्रमांक:</li>
                                    <li>जन्म तारीख:</li>
                                    <li>मोबाईल:</li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="Scriptcontent">
                        <section class="tabs-container tab-text">
                            <label for="tab1" style="color:#ffffff;text-align:center"> <img src="~/img/profile.png" class="matri-icon"> <br>वयक्तिक माहिती </label>
                            <label for="tab3" style="color:#ffffff;text-align:center"> <img src="~/img/mortarboard.png" class="matri-icon"><br> शिक्षण / नोकरी </label>
                            <label for="tab2" style="color:#ffffff;text-align:center"> <img src="~/img/image-gallery.png" class="matri-icon"><br>मुळगाव व संपर्क</label>
                            <label for="tab4" style="color:#ffffff;text-align:center"> <img src="~/img/people.png" class="matri-icon"><br>कुटुंबाविषयी माहिती </label>
                            <label for="tab5" style="color:#ffffff;text-align:center"> <img src="~/img/contact-img.png" class="matri-icon"><br>सभासदत्व माहिती</label>
                        </section>

                        <input name="tab" id="tab1" type="radio" checked />
                        <section class="tab-content">
                            <h2> वयक्तिक माहिती </h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <h5>Birth Name:</h5>
                                        <p>Sadhna Sargam</p>
                                        <br>
                                        <h5>Birth Place:</h5>
                                        <p>Pune</p>
                                        <br>
                                        <h5>Birth Date:</h5>
                                        <p>5 March 1982</p>
                                        <br>
                                        <h5>Birth Hours:</h5>
                                        <p>03:25 PM</p>
                                        <br>
                                        <h5>Blood Group:</h5>
                                        <p>B+</p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab2" type="radio" />
                        <section class="tab-content">
                            <h2> मुळगाव व संपर्क</h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>Birth Name:</h5>
                                            <p>Sadhna Sargam</p>
                                            <br>
                                            <h5>Birth Place:</h5>
                                            <p>Pune</p>
                                            <br>
                                            <h5>Birth Date:</h5>
                                            <p>5 March 1982</p>
                                            <br>
                                            <h5>Birth Hours:</h5>
                                            <p>03:25 PM</p>
                                            <br>
                                            <h5>Blood Group:</h5>
                                            <p>B+</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab3" type="radio" />
                        <section class="tab-content">
                            <h2> शिक्षण / नोकरी</h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>Birth Name:</h5>
                                            <p>Sadhna Sargam</p>
                                            <br>
                                            <h5>Birth Place:</h5>
                                            <p>Pune</p>
                                            <br>
                                            <h5>Birth Date:</h5>
                                            <p>5 March 1982</p>
                                            <br>
                                            <h5>Birth Hours:</h5>
                                            <p>03:25 PM</p>
                                            <br>
                                            <h5>Blood Group:</h5>
                                            <p>B+</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab4" type="radio" />
                        <section class="tab-content">
                            <h2> कुटुंबाविषयी माहिती</h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>Birth Name:</h5>
                                            <p>Sadhna Sargam</p>
                                            <br>
                                            <h5>Birth Place:</h5>
                                            <p>Pune</p>
                                            <br>
                                            <h5>Birth Date:</h5>
                                            <p>5 March 1982</p>
                                            <br>
                                            <h5>Birth Hours:</h5>
                                            <p>03:25 PM</p>
                                            <br>
                                            <h5>Blood Group:</h5>
                                            <p>B+</p>
                                        </div>
                                    </div>

                                </div>
                        </section>

                        <input name="tab" id="tab5" type="radio" />
                        <section class="tab-content">
                            <h2> सभासदत्व माहिती </h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>Birth Name:</h5>
                                            <p>Sadhna Sargam</p>
                                            <br>
                                            <h5>Birth Place:</h5>
                                            <p>Pune</p>
                                            <br>
                                            <h5>Birth Date:</h5>
                                            <p>5 March 1982</p>
                                            <br>
                                            <h5>Birth Hours:</h5>
                                            <p>03:25 PM</p>
                                            <br>
                                            <h5>Blood Group:</h5>
                                            <p>B+</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

