@model MatrimonyViewModel
@{
    ViewData["Title"] = "MatrimonyCandidateProfile";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Matrimony Portal</p>
            </div>
        </div>
    </div>
</div>
<section>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-rt-12">
                    <div class="container">
                        <div class="row" style="background-color:#7c0053">
                            <div class="photo-container1" style="background-color:#7c0053">
                                <i class="ti-edit"></i>
                                <img src="@Model.CandidateProfile.profileImage" style="margin:7px;height:110px;width:123px; border-radius:10px">
                            </div>
                            <section class="data-content1" style="background:#7c0053; width: calc(100% - 150px); padding:20px; color:#ffffff">
                                <ul class="profile-text">
                                    <li>@Model.CandidateProfile.fullName</li>
                                    <li>Age:@Model.CandidateProfile.age yrs</li>
                                    <li>ऊंची : @Model.CandidateProfile.heightInFeet'@Model.CandidateProfile.heightInInches"</li>
                                    <li>Candidate Id:@Model.CandidateProfile.applicationId</li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="Scriptcontent">
                        <section class="tabs-container tab-text">
                            <label for="tab1" style="color:#ffffff;text-align:center"> <img src="~/img/profile.png" class="matri-icon"> <br>वैयक्तिक माहिती </label>
                            <label for="tab3" style="color:#ffffff;text-align:center"> <img src="~/img/mortarboard.png" class="matri-icon"><br> शिक्षण / नोकरी </label>
                            <label for="tab2" style="color:#ffffff;text-align:center"> <img src="~/img/image-gallery.png" class="matri-icon"><br>छायाचित्र</label>
                            <label for="tab4" style="color:#ffffff;text-align:center"> <img src="~/img/people.png" class="matri-icon"><br>कुटुंबाविषयी माहिती </label>
                            <label for="tab5" style="color:#ffffff;text-align:center"> <img src="~/img/contact-img.png" class="matri-icon"><br>संपर्कासाठी नाव</label>
                        </section>

                        <input name="tab" id="tab1" type="radio" checked />
                        <section class="tab-content">
                            <h2> वैयक्तिक माहिती </h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <h5>Birth Name:</h5>
                                        <p>Sadhna Sargam</p>
                                        <br>
                                        <h5>Birth Place:</h5>
                                        <p>Pune</p>
                                        <br>
                                        <h5>Birth Date:</h5>
                                        <p>5 March 1982</p>
                                        <br>
                                        <h5>Birth Hours:</h5>
                                        <p>03:25 PM</p>
                                        <br>
                                        <h5>Blood Group:</h5>
                                        <p>B+</p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab2" type="radio" />
                        <section class="tab-content">
                            <h2> मुळगाव व संपर्क</h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>Birth Name:</h5>
                                            <p>Sadhna Sargam</p>
                                            <br>
                                            <h5>Birth Place:</h5>
                                            <p>Pune</p>
                                            <br>
                                            <h5>Birth Date:</h5>
                                            <p>5 March 1982</p>
                                            <br>
                                            <h5>Birth Hours:</h5>
                                            <p>03:25 PM</p>
                                            <br>
                                            <h5>Blood Group:</h5>
                                            <p>B+</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab3" type="radio" />
                        <section class="tab-content">
                            <h2> शिक्षण / नोकरी</h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>Birth Name:</h5>
                                            <p>Sadhna Sargam</p>
                                            <br>
                                            <h5>Birth Place:</h5>
                                            <p>Pune</p>
                                            <br>
                                            <h5>Birth Date:</h5>
                                            <p>5 March 1982</p>
                                            <br>
                                            <h5>Birth Hours:</h5>
                                            <p>03:25 PM</p>
                                            <br>
                                            <h5>Blood Group:</h5>
                                            <p>B+</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab4" type="radio" />
                        <section class="tab-content">
                            <h2> कुटुंबाविषयी माहिती</h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>Birth Name:</h5>
                                            <p>Sadhna Sargam</p>
                                            <br>
                                            <h5>Birth Place:</h5>
                                            <p>Pune</p>
                                            <br>
                                            <h5>Birth Date:</h5>
                                            <p>5 March 1982</p>
                                            <br>
                                            <h5>Birth Hours:</h5>
                                            <p>03:25 PM</p>
                                            <br>
                                            <h5>Blood Group:</h5>
                                            <p>B+</p>
                                        </div>
                                    </div>

                                </div>
                        </section>

                        <input name="tab" id="tab5" type="radio" />
                        <section class="tab-content">
                            <h2> सभासदत्व माहिती </h2>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>Birth Name:</h5>
                                            <p>Sadhna Sargam</p>
                                            <br>
                                            <h5>Birth Place:</h5>
                                            <p>Pune</p>
                                            <br>
                                            <h5>Birth Date:</h5>
                                            <p>5 March 1982</p>
                                            <br>
                                            <h5>Birth Hours:</h5>
                                            <p>03:25 PM</p>
                                            <br>
                                            <h5>Blood Group:</h5>
                                            <p>B+</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

