@model MatrimonyViewModel
@{
    ViewData["Title"] = "MatrimonyCandidateList";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

@*<h1>Matrimony Candidate List</h1>*@
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Matrimony Portal</p>
            </div>
        </div>
    </div>
</div>
@if (Model.Candidates.Count > 0)
{
    foreach (CandidateSearchResponse candidate in Model.Candidates)
    {
        @await Html.PartialAsync("_PartialCandidateInfo", candidate)
    }
}