@model BannerAndMarqueeViewModel
@{
    ViewData["Title"] = "MatrimonySearch";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}



<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Matrimony Portal</p>
            </div>
        </div>
    </div>
</div>
<div class="seperate"></div>
<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-1--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-6 r1c1 dashboard" id="groom" style="cursor:pointer">
                        <a asp-action="VarSearch" asp-controller="Matrimony"> <img src="~/img/groom.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">वर</h3>
                    </div>
                    <div class="col-xs-6 r1c1a dashboard" id="bride" style="cursor:pointer">
                        <a asp-action="VadhuSearch" asp-controller="Matrimony">  <img src="~/img/bride.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">वधु</h3>
                    </div>
                </div>
            </div>
            <!------------End of icon dashbaord row-1--------------->
        </div>
    </div>
</div>
<div class="seperate"><hr style="border:1px dashed #a7a7a7"></div>
<div class="seperate"></div>
@await Html.PartialAsync("_PartialSliderNew")

<!--------------end of dashboard-------------->
