
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_LayoutMemberHome.cshtml";
}
<style>
    .box-about {
        background-color: #ffffff;
        padding: 50px;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.7);
        border-radius: 3px;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.7);
        margin-top: 20px;
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.7);
        height: auto
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box-about">
                                <div class="row">
                                    <h2>Board Members information</h2>
                                    <hr>
                                    <img src="~/img/Member-list.jpg">
                                    <br><br>
                                    <p>
                                        For more details please visit the website www.samatabhratrumandal.com<br><br>
                                        For any help please write us at <a href="mailto:samatabhratrumandal@gmail.com"> samatabhratrumandal@gmail.com</a><br><br>
                                        <b>Toll-Free: 02071173733</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
