
@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "~/Views/Shared/_LayoutMemberHome.cshtml";
}

<div class="container">
    <div class="row">
        <h1>Privacy Policy</h1>
        <h3>Who we are</h3>
        <h6>Our App address is:.</h6>
        <p>What personal data we collect and why we collect it</p>
        <p>Comments</p>
        <p>
            When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.
            An anonymized string created from your email address (also called a hash) may be provided to the service to see if you are using it. The service privacy policy is available here: After approval of your comment, your profile picture is visible to the public in the context of your comment.
        </p>
        <h3>Media</h3>
        <p>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.</p>
        <h3>Contact forms</h3>
        <h6>Cookies</h6>
        <p>If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.</p>
        <p>If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p>
        <p>
            When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.
            If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.
            Embedded content from other websites.
        </p>
        <p>
            Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.
            These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.
            Analytics
        </p>
        <h3>Who we share your data with, How long we retain your data</h3>
        <p>
            If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.
            For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.
        </p>
        <h3>What rights you have over your data.</h3>
        <p>If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>
        <h3>Where we send your data</h3>
        <p>
            Visitor comments may be checked through an automated spam detection service.<br />
            Your contact information<br />
            Additional information<br />
            How we protect your data<br />
            What data breach procedures we have in place<br />
            What third parties we receive data from<br />
            What automated decision making and/or profiling we do with user data<br />
            Industry regulatory disclosure requirements
        </p>

        <p>
            Personal Information we may collect and the purposes for which we may use it. Personal Information is information that identifies, relates to, describes, is capable of being associated with, or could reasonably be linked, directly or indirectly with a particular consumer (a natural person who resides in California) or household in California.  We collect some or all the following categories of Personal Information about you and your household:
            •	Identifiers such as a real name, alias, postal address, unique personal identifier, online identifier, internet protocol address, email address, account name, Social Security number, driver’s license number, passport number, or other similar identifiers.
            •	CCR Categories may include the following categories of Personal Information described in the California Customer Records statute: name, signature, Social Security number, physical characteristics or description, address, telephone number, passport number, driver’s license or state identification card number, insurance policy number, education, employment, employment history, bank account number, credit card number, debit card number, or any other financial information, medical information, or health insurance information.<br />
            •	Commercial Information may include records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.<br />
            •	Biometric Information means an individual’s physiological, biological, or behavioral characteristics that can be used to establish an individual’s identity.  Examples may include fingerprints; face, hand, palm or vein pattern imagery; voice recordings; or sleep, health, or exercise data that contain identifying information.<br />
            •	Internet or Other Electronic Network Activity Information may include, for example, website information, browsing history, search history, information on a consumer’s interaction with an internet website, application, or advertisement.<br />
            •	Geolocation Data about physical location or movements.<br />
            •	Sensory Data such as recorded phone call and other audio recordings.<br />
            •	Professional or Employment-Related Information such as information about current or past employment.<br />
            •	Education Information such as education level.<br />
            •	Inferences drawn from other Personal Information to create a profile about a consumer reflecting the consumer’s preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.
        </p>

        <p>
            We have disclosed each category of Personal Information to one or more third parties for a business or commercial purpose.  The business or commercial purposes for which we collected each category of Personal Information and the purposes for which we will use the Personal Information that we collect about you and your household may include the following:<br />
            •	communicating and interacting with consumers<br />
            •	consumer experience and service<br />
            •	marketing products and services offered by us or others<br />
            •	analytics, research, design, development, and pricing<br />
            •	counting ad impressions, verifying positioning and quality of ad impressions, auditing compliance, and other auditing<br />
            •	monitoring social media and other online references to us<br />
            •	litigation and claims handling<br />
            •	preventing, detecting and prosecuting malicious, deceptive, fraudulent or illegal activity<br />
            •	risk control, debugging and otherwise maintaining or protecting our data and systems and ourselves<br />
            •	to effect, administer, enforce, service, process, provide or maintain a product, service, account, or transaction with or for a consumer or business<br />
            •	in connection with a proposed or actual securitization, merger, acquisition, sale (including sale of servicing rights) or similar transaction related to, involving or impacting a consumer<br />
            •	providing information to regulators, law enforcement, other governmental entities and our attorneys, accountants and auditors<br />
            •	making disclosures required by and otherwise complying with legal requirements or legal, regulatory or other governmental investigations or process<br />
            •	any other purposes disclosed to or authorized or approved by a consumer<br />
            •	sharing information with other companies in our family of companies or in which we invest<br />
            We have disclosed for a business purpose all of the categories of Personal Information listed above.<br />
        </p>
        <p>
            To the extent provided by law, you may request that we delete Personal Information that we collected from you.
            Your rights regarding the sale of your Personal Information
            We will not sell information about you.  You do not need to tell us to refrain from selling your information.
            Nondiscrimination
            We may charge a different price for goods or services if the difference is reasonably related to the value of your Personal Information.  We will not otherwise discriminate against you for exercising your rights under the CCPA.
            Verifying requests
            When you ask us to disclose specific pieces of Personal Information to you or to delete Personal Information we obtained from you, we will verify that you are the consumer about whom we have collected the Personal Information.  We will do this by matching identifying information provided by you to Personal Information about you that we have on file, when possible.  If we do not have enough information to do this matching, we may try to call you to verify your identity.  Examples of information you may be asked to provide during such calls include your name, address history, and information about your interactions with us.
            How an agent can make requests on your behalf
            If you want to access this notice in a different format because of disability, or if you have any other questions or concerns, you may call us at .
        </p>

    </div>

</div>
