@model BannerAndMarqueeViewModel
@{
    ViewData["Title"] = "UpcomingEvents";
    Layout = "~/Views/Shared/_LayoutMemberHome.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Upcoming Events</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        @if (Model.EventInfos != null && Model.EventInfos.Count > 0)
        {
            foreach (var item in Model.EventInfos)
            {
                <div class="col-lg-12">
                    <div class="upcoming-event">
                        <h6><span style="color:#7c0053;font-weight:bold">Event Date:</span> <span style="font-weight:bold; font-size:13px">@item.EventDate.ToString("dd-MM-yyyy")</span></h6>
                        <h6><span style="color:#7c0053;font-weight:bold">Event title:</span> <span style="font-weight:bold; font-size:14px"> @item.EventTitle </span></h6>
                        <h6><span style="color:#7c0053;font-weight:bold">Event Description:</span><br></h6><span style="margin-top:8px; line-height:2.0"> @Html.Raw(item.EventDesc) </span>
                    </div>
                </div>
            }

        }
    </div>
</div>


