
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<div class="container ">
<div class="row">
    <div class="col-lg-12" style="text-align:center">
        <!------------icon dashbaord row-1--------------->
        <div class="container">
            <div class="row ">
                <div class="col-xs-4 r1c1 dashboard">
                    <img src="~/img/updating.png" class="dashboard-icon">
                    <h3>Profile Update</h3>
                </div>
                <div class="col-xs-4 r1c2 dashboard">
                    <img src="~/img/updating.png" class="dashboard-icon">
                    <h3>Doctor Search</h3>
                </div>
                <div class="col-xs-4 r1c3 dashboard">
                    <img src="~/img/updating.png" class="dashboard-icon">
                    <h3>Member Search</h3>
                </div>

            </div>
        </div>
        <!------------End of icon dashbaord row-1--------------->
    </div>
</div>
 </div>
<div class="seperate"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r2c1 dashboard">
                        <img src="~/img/updating.png" class="dashboard-icon">
                        <h3>Blood Search</h3>
                    </div>
                    <div class="col-xs-4 r2c2 dashboard">
                        <img src="~/img/updating.png" class="dashboard-icon">
                        <h3>Job Search</h3>
                    </div>
                    <div class="col-xs-4 r2c3 dashboard">
                        <img src="~/img/updating.png" class="dashboard-icon">
                        <h3>Business Directory</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>

<div class="seperate"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r3c1 dashboard">
                        <img src="~/img/updating.png" class="dashboard-icon">
                        <h3>Matrimony</h3>
                    </div>
                    <div class="col-xs-4 r3c2 dashboard">
                        <img src="~/img/updating.png" class="dashboard-icon">
                        <h3>Advertisement</h3>
                    </div>
                    <div class="col-xs-4 r3c3 dashboard">
                        <img src="~/img/updating.png" class="dashboard-icon">
                        <h3>Our Events</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>

<div class="seperate"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">

            <div class="container">
                <table class="table" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>
                            <td>Notification</td>
                            <td></td>
                            <td>New member</td>
                            <td></td>
                            <td>Recent Jobs</td>
                        </tr>
                        <tr>
                            <td style="background-color:#db044c;color:#ffffff;font-size:16px;">1</td>
                            <td style="width:5px"></td>
                            <td style="background-color:#ffda08;color:#ffffff;font-size:16px;">25</td>
                            <td style="width:5px"></td>
                            <td style="background-color:#be0303;color:#ffffff;font-size:16px;">3</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>



<div class="seperate"></div>
<hr>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <table class="table" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>

                            <td><img src="~/img/videomeet.png" class="table-button"></td>
                            <td style="width:20px"></td>
                            <td><img src="~/img/about us-1.png" class="table-button"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>

<!--------------end of dashboard-------------->
