

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-sx-9 profile-bar1">
                        <div class="container">
                            <div c;ass="row">
                                <div class="col-xs-12">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <img src="~/img/user.png" class="pofile-icon" width="35px" height="35px">
                                            </div>
                                            <div class="col-xs-10 profile-bar1">
                                                <div class="profile-content">

                                                    <h5>Welcome</h5>
                                                    <h4>@User.Identity.Name</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sx-3 profile-bar2">
                        <h3>Member ID:62</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------srcoll bar--------------->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll">
                <p><marquee>Welcome to SBM Member portal.</marquee></p>
            </div>
        </div>
    </div>
</div>
<!----------------------end of scroll bar---------------->
<!--------------dashboard-------------->
<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-1--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r1c1 dashboard" id="profileUpdate" style="cursor:pointer;">
                        <a asp-action="ProfileUpdate" asp-controller="MemberDashboard">  <img src="~/img/profile-pic.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Profile Update</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" id="doctorSerach" style="cursor:pointer">
                        <a asp-action="MemberDoctors" asp-controller="MemberDashboard"> <img src="~/img/doctor.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Doctor Search</h3>
                    </div>
                    <div class="col-xs-4 r1c1a dashboard" id="memberSerach" style="cursor:pointer">
                        <a asp-action="MemberSearchDashBoard" asp-controller="MemberDashboard">  <img src="~/img/team-management.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Member Search</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-1--------------->
        </div>
    </div>
</div>
<div class="seperate"><hr style="border:1px dashed #a7a7a7"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r1c1 dashboard" id="bloodGroupSerach" style="cursor:pointer">
                        <a asp-action="MemberBloodGroupSearch" asp-controller="MemberDashboard"> <img src="~/img/blood_search.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Blood Search</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" id="JobSearch" style="cursor:pointer">
                        <a asp-action="JobDirectory" asp-controller="JobDirectory"> <img src="~/img/job-search.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Job Search</h3>
                    </div>
                    <div class="col-xs-4 r1c1a dashboard" id="business" style="cursor:pointer">
                        <a asp-action="BusinessDashboard" asp-controller="BusinessDashboard">   <img src="~/img/phone-book1.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Business Directory</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>

<div class="seperate"><hr style="border:1px dashed #a7a7a7"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r1c1 dashboard" id="matrimony" style="cursor:pointer">
                        <a asp-action="MatrimonySearch" asp-controller="Matrimony">  <img src="~/img/newlyweds.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Matrimony</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" style="cursor:pointer">
                        <a asp-action="SearchEventAds" asp-controller="Events">   <img src="~/img/advertising1.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Advertisement</h3>
                    </div>
                    <div class="col-xs-4 r1c1a dashboard" id="Events" style="cursor:pointer">
                        <a asp-action="EventDashboard" asp-controller="Events"> <img src="~/img/placard.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Our Events</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>
<div class="seperate"></div>
<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">

            <div class="container">
                <table class="table" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>
                            <td>Notification</td>
                            <td></td>
                            <td>New member</td>
                            <td></td>
                            <td>Recent Jobs</td>
                        </tr>
                        <tr>
                            <td style="background-color:#db044c;color:#ffffff;font-size:16px;">1</td>
                            <td style="width:5px"></td>
                            <td style="background-color:#ffda08;color:#ffffff;font-size:16px;">25</td>
                            <td style="width:5px"></td>
                            <td style="background-color:#be0303;color:#ffffff;font-size:16px;">3</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="seperate"></div>
<hr>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <table class="table" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>

                            <td><img src="~/img/videomeet.png" class="table-button"></td>
                            <td style="width:20px"></td>
                            <td><img src="~/img/about us-1.png" class="table-button"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>
<!--------------end of dashboard-------------->





