

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<div class="seperate"></div>

<!--------------dashboard-------------->
<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-1--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r1c1 dashboard" id="profileUpdate" style="cursor:pointer;">
                        <img src="~/img/profile-pic.png" class="dashboard-icon">
                        <h3 style="color:#000000">Profile Update</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" id="doctorSerach" style="cursor:pointer">
                        <img src="~/img/doctor.png" class="dashboard-icon">
                        <h3 style="color:#000000">Doctor Search</h3>
                    </div>
                    <div class="col-xs-4 r1c1a dashboard" id="memberSerach" style="cursor:pointer">
                        <img src="~/img/team-management.png" class="dashboard-icon">
                        <h3 style="color:#000000">Member Search</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-1--------------->
        </div>
    </div>
</div>
<div class="seperate"><hr style="border:1px dashed #a7a7a7"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r1c1 dashboard" id="bloodGroupSerach" style="cursor:pointer">
                        <img src="~/img/blood_search.png" class="dashboard-icon">
                        <h3 style="color:#000000">Blood Search</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" id="JobSearch" style="cursor:pointer">
                        <img src="~/img/job-search.png" class="dashboard-icon">
                        <h3 style="color:#000000">Job Search</h3>
                    </div>
                    <div class="col-xs-4 r1c1a dashboard" id="business" style="cursor:pointer">
                        <img src="~/img/phone-book1.png" class="dashboard-icon">
                        <h3 style="color:#000000">Business Directory</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>

<div class="seperate"><hr style="border:1px dashed #a7a7a7"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r1c1 dashboard" id="matrimony" style="cursor:pointer">
                        <img src="~/img/newlyweds.png" class="dashboard-icon">
                        <h3 style="color:#000000">Matrimony</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard">
                        <img src="~/img/advertising1.png" class="dashboard-icon">
                        <h3 style="color:#000000">Advertisement</h3>
                    </div>
                    <div class="col-xs-4 r1c1a dashboard" id="Events" style="cursor:pointer">
                        <img src="~/img/placard.png" class="dashboard-icon">
                        <h3 style="color:#000000">Our Events</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>
<div class="seperate"></div>
<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">

            <div class="container">
                <table class="table" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>
                            <td>Notification</td>
                            <td></td>
                            <td>New member</td>
                            <td></td>
                            <td>Recent Jobs</td>
                        </tr>
                        <tr>
                            <td style="background-color:#db044c;color:#ffffff;font-size:16px;">1</td>
                            <td style="width:5px"></td>
                            <td style="background-color:#ffda08;color:#ffffff;font-size:16px;">25</td>
                            <td style="width:5px"></td>
                            <td style="background-color:#be0303;color:#ffffff;font-size:16px;">3</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="seperate"></div>
<hr>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <table class="table" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>

                            <td><img src="~/img/videomeet.png" class="table-button"></td>
                            <td style="width:20px"></td>
                            <td><img src="~/img/about us-1.png" class="table-button"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>
<!--------------end of dashboard-------------->
<script type="text/javascript">
    $(document).ready(function () {
        //
        $("#profileUpdate").click(function () {

            window.location.href = '/MemberDashboard/ProfileUpdate'
        });
        $("#memberSerach").click(function () {
            window.location.href = '/MemberDashboard/MemberSearchDashBoard'
        });
        $("#doctorSerach").click(function () {

            window.location.href = '/MemberDashboard/MemberDoctors'
        });
        $("#bloodGroupSerach").click(function () {

            window.location.href = '/MemberDashboard/MemberBloodGroupSearch'
        });

        $("#matrimony").click(function () {

            window.location.href = '/Matrimony/MatrimonySearch'
        });
        $("#business").click(function () {
            window.location.href = '/BusinessDashboard/BusinessDashboard'
        });
        $("#JobSearch").click(function () {
            window.location.href ="/JobDirectory/JobDirectory"
        });
        $("#Events").click(function () {
            window.location.href ="/Events/EventDashboard"
        });
    });




</script>