@using SBMMember.Web.Models.MemberSearchModels
@model MemberSearchByNativeViewModel
@{
    ViewData["Title"] = "MemberSearchByNative";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Member's Database</p>
            </div>
        </div>
    </div>
</div>
<!--------------dashboard-------------->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="search-box">
                <form asp-action="MemberSearchByNative" asp-controller="MemberDashboard" method="post" enctype="multipart/form-data">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Search Member by Native Place</h4>
                                <br>
                                <!------------icon dashbaord row-1--------------->
                                <div class="container">
                                    <div class="row ">

                                        <div class="col-sm-3">
                                            <input text="text" name="NativePlace" asp-for="NativePlace" class="search-box_input" placeholder="Native Place" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place'">
                                        </div>
                                        <div class="col-sm-3">
                                            <input text="text" name="NativePlaceTaluka" asp-for="NativePlaceTaluka" class="search-box_input" placeholder="Native Place Taluka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place Taluka'">
                                        </div>
                                        <div class="col-sm-3">
                                            <input text="text" name="NativePlaceDistrict" asp-for="NativePlaceDistrict" class="search-box_input" placeholder="Native Place District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place District'">
                                        </div>
                                        <div class="col-sm-3">

                                        </div>
                                    </div>
                                </div>
                                <!------------End of icon dashbaord row-1--------------->
                            </div>
                        </div>
                    </div>
                    <div class="seperate"></div>
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <!------------icon dashbaord row-1--------------->
                                <div class="container">
                                    <div class="row ">
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="Reset" class="genric-btn danger submit-btn" style="margin-left:50%; border-radius:10px">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="submit" class="genric-btn success submit-btn" style="margin-left:50%; border-radius:10px">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                </div>
                                <!------------End of icon dashbaord row-1--------------->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="seperate"></div>

<!------------Search Result--------------->

@if (Model.MemberList != null)
{
    <!------------Search Result--------------->
    @foreach (MemberSearchResponseViewModel model in Model.MemberList)
    {
        @await Html.PartialAsync("_PartialMemberInfo", model)
    }
}



