@using SBMMember.Web.Models.MemberSearchModels
@model MemberSearchByQualificationViewModel
@{
    ViewData["Title"] = "MemberSearchByQualification";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Member's Database</p>
            </div>
        </div>
    </div>
</div><!--------------dashboard-------------->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="search-box">
                <form asp-action="MemberSearchByQualification" asp-controller="MemberDashboard" method="post" enctype="multipart/form-data">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Search Member by Qualification</h4>
                                <br>
                                <!------------icon dashbaord row-1--------------->
                                <div class="container">
                                    <div class="row ">

                                        <div class="col-sm-3">
                                            <input text="text" name="Qualification" asp-for="Qualification" class="search-box_input" placeholder="Qualification" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qualification'">
                                        </div>
                                        <div class="col-sm-3">
                                            <input text="text" name="Proffession" asp-for="Proffession" class="search-box_input" placeholder="Proffession" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Proffession'">
                                        </div>
                                        <div class="col-sm-3">

                                        </div>
                                        <div class="col-sm-3">

                                        </div>
                                    </div>
                                </div>
                                <!------------End of icon dashbaord row-1--------------->
                            </div>
                        </div>
                    </div>
                    <div class="seperate"></div>
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <!------------icon dashbaord row-1--------------->
                                <div class="container">
                                    <div class="row ">
                                        <div class="col-sm-3">
                                            <input type="reset" class="genric-btn danger submit-btn" style="margin-left:50%; border-radius:10px">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="submit" class="genric-btn success submit-btn" style="margin-left:50%; border-radius:10px">
                                        </div>
                                        <div class="col-sm-3">

                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                </div>
                                <!------------End of icon dashbaord row-1--------------->
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="seperate"></div>

<!------------Search Result--------------->

@if (Model.MemberList != null)
{
    <!------------Search Result--------------->
    @foreach (MemberSearchResponseViewModel model in Model.MemberList)
    {
        @await Html.PartialAsync("_PartialMemberInfo", model)
    }
}

