@model BannerAndMarqueeViewModel

@{
    ViewData["Title"] = "MemberSearchDashBoard";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Member's Database</p>
            </div>
        </div>
    </div>
</div>
<div class="seperate"></div>

<!--------------dashboard-------------->
<div class="container ">
    <div class="row">
       <div class="col-lg-12" style="text-align:center">
               <!------------icon dashbaord row-1--------------->
               <div class="container">
                 <div class="row ">
                     <div class="col-xs-6 r1c1 dashboard" style="cursor:pointer" id="SearchByName">
                       <img src="~/img/img-1.png"  class="dashboard-icon">
                       <h3 style="color:#000000">Search by Name</h3>
                     </div>
                     <div class="col-xs-6 r1c1a dashboard">
                       <img src="~/img/maps.png" class="dashboard-icon" style="cursor:pointer" id="searchByArea">
                       <h3 style="color:#000000">Search by Area</h3>
                     </div>
                 </div>
               </div>
               <!------------End of icon dashbaord row-1--------------->
       </div>
    </div>      
 </div>
<div class="seperate"></div>
<div class="container ">
    <div class="row">
       <div class="col-lg-12" style="text-align:center">
               <!------------icon dashbaord row-1--------------->
               <div class="container">
                 <div class="row ">
                     <div class="col-xs-6 r1c1 dashboard">
                       <img src="~/img/map.png" class="dashboard-icon" id="searchByNative" style="cursor:pointer">
                       <h3 style="color:#000000">Search by Native Place</h3>
                     </div>
                     <div class="col-xs-6 r1c1a dashboard">
                       <img src="~/img/qualification.png" class="dashboard-icon">
                       <h3 style="color:#000000">Search by Qualification</h3>
                     </div>
                 </div>
               </div>
               <!------------End of icon dashbaord row-1--------------->
       </div>
    </div>      
 </div>

<div class="seperate"></div>

@await Html.PartialAsync("_PartialSlider")
<!--------------end of dashboard-------------->
<script type="text/javascript">
    $(document).ready(function () {
        //
        $("#SearchByName").click(function () {
            //alert("Test");
            window.location.href = '/MemberDashboard/MemberSearchByName'
        });
        $("#searchByArea").click(function () {
            window.location.href = '/MemberDashboard/MemberSearchByArea'
        });

        $("#searchByNative").click(function () {
            window.location.href = '/MemberDashboard/MemberSearchByNative'
        });

        $("#serachByQualification").click(function () {
            window.location.href = '/MemberDashboard/MemberSearchByQualification'
        });


    });
</script>