@using SBMMember.Web.Models.MemberSearchModels
@model MemberSearchByAreaViewModel
@{
    ViewData["Title"] = "MemberSearchByArea";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<!--------------dashboard-------------->
<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Member's Database</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form asp-action="MemberSearchByArea" asp-controller="MemberDashboard" method="post" enctype="multipart/form-data">
                <div class="search-box">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Search Member by Area</h4>
                                <br>
                                <!------------icon dashbaord row-1--------------->
                                <div class="container">
                                    <div class="row ">

                                        <div class="col-sm-3">
                                            <input text="text" name="Area" asp-for="Area" class="search-box_input" placeholder="Area" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Area'">
                                        </div>
                                        <div class="col-sm-3">
                                            <input text="text" name="City" asp-for="City" class="search-box_input" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'">
                                        </div>
                                        <div class="col-sm-3">
                                            <input text="text" name="Pincode" asp-for="Pincode" class="search-box_input" placeholder="Pincode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pincode'">
                                        </div>
                                        <div class="col-sm-3">
                                            <input text="text" name="District" asp-for="District" class="search-box_input" placeholder="District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'District'">
                                        </div>
                                    </div>
                                </div>
                                <!------------End of icon dashbaord row-1--------------->
                            </div>
                        </div>
                    </div>
                    <div class="seperate"></div>
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <!------------icon dashbaord row-1--------------->
                                <div class="container">
                                    <div class="row ">
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="Reset" class="genric-btn danger submit-btn" style="margin-left:50%; border-radius:10px">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="submit" class="genric-btn success submit-btn" style="margin-left:50%; border-radius:10px">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                </div>
                                <!------------End of icon dashbaord row-1--------------->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="seperate"></div>

<!------------Search Result--------------->

<div class="seperate"></div>
@if (Model.MemberList != null)
{
<!------------Search Result--------------->
    @foreach (MemberSearchResponseViewModel model in Model.MemberList)
    {
        @await Html.PartialAsync("_PartialMemberInfo", model)
    }
}


