@using SBMMember.Web.Models.MemberSearchModels
@model MemberBloodGroupSearchViewModel
@{
    ViewData["Title"] = "MemberBloodGroupSearch";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<script>
    $(document).ready(function () {
        $("#btnreset").click(function () {

            $('#BG .nice-select .current').html("Select Blood Group");
            $('#GN .nice-select .current').html("Select Gender");
            $('#CT .nice-select .current').html("Select City");
            $('#AR .nice-select .current').html("Select Area");

        });

    });
</script>

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Blood Group Search</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form asp-action="MemberBloodGroupSearch" asp-controller="MemberDashboard" method="post" enctype="multipart/form-data" id="bloodgroupform">
                <div class="search-box">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                            <div class="container">
                                    <div class="row ">

                                        <div class="col-sm-4" id="BG">
                                            <div class="form-select" id="default-select">
                                                <select asp-for="BloodGroup">
                                                    <option value="0">Select Blood Group</option>
                                                    <option value="A+">A positive (A+)</option>
                                                    <option value="A-">A Negative (A-)</option>
                                                    <option value="B+">B Positive (B+)</option>
                                                    <option value="B-">B Negative (B-)</option>
                                                    <option value="O+">O Positive (O+)</option>
                                                    <option value="O-">O Negative (O-)</option>
                                                    <option value="AB+">AB positive (AB+)</option>
                                                    <option value="AB-">AB Negative (AB-)</option>
                                                </select>
                                                
                                            </div>
                                            <div class="searchname"><h6>OR</h6></div>
                                        </div>
                                        <div class="col-sm-4" id="CT">
                                            <div class="form-select" id="default-select" >
                                                <select asp-for="City" asp-items="Model.Cities" style="height:100px" ></select>
                                            </div>
                                            <div class="searchname"><h6>OR</h6></div>
                                        </div>
                                        <div class="col-sm-4" id="AR">
                                            <div class="form-select" id="default-select">
                                                <select asp-for="Area" asp-items="Model.Areas" onmouseover="this.size=10;" onmouseout="this.size=1;" style="max-height: 160px;
            overflow: scroll;"></select>
                                                
                                            </div>
                                            <div class="searchname"><h6>OR</h6></div>
                                        </div>

                                    </div>
                            </div>
                                <!------------End of icon dashbaord row-1--------------->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!------------icon dashbaord row-1--------------->
                                <div class="container">
                                    <div class="row ">
                                        <div class="col-sm-4" id="GN">
                                            <div class="form-select" id="default-select">
                                                <select asp-for="Gender">
                                                    <option value="0">Select Gender</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input text="text" name="FirstName" asp-for="FirstName" class="single-input" placeholder="FirstName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'FirstName'">
                                        </div>
                                        <div class="col-sm-4">
                                            <input text="text" name="LastName" asp-for="LastName" class="single-input" placeholder="LastName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'LastName'">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="btntbl">
                                                <tr>
                                                    <td width="50%"><input type="reset" id="btnreset" name="search" class="allresetbtn"></td>
                                                    <td width="50%"><input type="submit" value="Submit"  class="allsubmitbtn" ></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!------------End of icon dashbaord row-1--------------->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@if (Model.MemberList != null)
{
    <!------------Search Result--------------->
    @foreach (MemberSearchResponseViewModel model in Model.MemberList)
    {
        @await Html.PartialAsync("_PartialBloodGroupSearch", model)
    }
}