@model BannerAndMarqueeViewModel

@{
    ViewData["Title"] = "MemberSearchDashBoard";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Member's Database</p>
            </div>
        </div>
    </div>
</div>
<div class="seperate"></div>

<!--------------dashboard-------------->
<div class="container ">
    <div class="row">
       <div class="col-lg-12" style="text-align:center">
               <!------------icon dashbaord row-1--------------->
               <div class="container">
                 <div class="row ">
                     <div class="col-xs-6 r1c1 dashboard" style="cursor:pointer" id="SearchByName">
                         <a asp-action="MemberSearchByName" asp-controller="MemberDashboard">  <img src="~/img/profile-pic.png" class="dashboard-icon"></a>
                       <h3 style="color:#000000">Search by Name</h3>
                     </div>
                     <div class="col-xs-6 r1c1a dashboard" style="cursor:pointer">
                         <a asp-controller="MemberDashboard" asp-action="MemberSearchByArea">  <img src="~/img/maps.png" class="dashboard-icon" id="searchByArea"></a>
                       <h3 style="color:#000000">Search by Area</h3>
                     </div>
                 </div>
               </div>
               <!------------End of icon dashbaord row-1--------------->
       </div>
    </div>      
 </div>
<div class="seperate"></div>
<div class="container ">
    <div class="row">
       <div class="col-lg-12" style="text-align:center">
               <!------------icon dashbaord row-1--------------->
               <div class="container">
                 <div class="row ">
                     <div class="col-xs-6 r1c1 dashboard" style="cursor:pointer">
                         <a asp-action="MemberSearchByNative" asp-controller="MemberDashboard"><img src="~/img/map.png" class="dashboard-icon" id="searchByNative" ></a>
                       <h3 style="color:#000000">Search by Native Place</h3>
                     </div>
                     <div class="col-xs-6 r1c1a dashboard" style="cursor:pointer">
                         <a asp-action="MemberSearchByQualification" asp-controller="MemberDashboard">  <img src="~/img/qualification.png" class="dashboard-icon"></a>
                       <h3 style="color:#000000">Search by Qualification</h3>
                     </div>
                 </div>
               </div>
               <!------------End of icon dashbaord row-1--------------->
       </div>
    </div>      
 </div>

<div class="seperate"></div>

@await Html.PartialAsync("_PartialSliderNew")
<!--------------end of dashboard-------------->
