@using SBMMember.Web.Models.MemberSearchModels
@model MemberSearchByNativeViewModel
@{
    ViewData["Title"] = "MemberSearchByNative";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Member's Database</p>
            </div>
        </div>
    </div>
</div>
<!--------------dashboard-------------->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="search-box">
                <form asp-action="MemberSearchByNative" asp-controller="MemberDashboard" method="post" enctype="multipart/form-data">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 style="text-align:center">Search Member by Native Place</h6>
                                <!------------icon dashbaord row-1--------------->
                                <div class="container">
                                    <div class="row ">

                                        <div class="col-sm-3">
                                            <input text="text" name="NativePlace" asp-for="NativePlace" class="single-input" placeholder="Native Place" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place'">
                                        <div class="orcondit"><h6>OR</h6></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input text="text" name="NativePlaceTaluka" asp-for="NativePlaceTaluka" class="single-input" placeholder="Native Place Taluka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place Taluka'">
                                        <div class="orcondit"><h6>OR</h6></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input text="text" name="NativePlaceDistrict" asp-for="NativePlaceDistrict" class="single-input" placeholder="Native Place District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place District'">
                                        
                                        </div>
                                        <div class="col-sm-3">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="btntbl">
                                                <tr>
                                                     <td width="50%"><a asp-action="MemberSearchByNative" asp-controller="MemberDashboard" name="search" class="allresetbtn">Reset</a></td>
                                                    <td width="50%"><input type="submit" value="Search" id="btnreset" class="allsubmitbtn" ></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!------------End of icon dashbaord row-1--------------->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!------------Search Result--------------->

@if (Model.MemberList != null)
{
    <!------------Search Result--------------->
    @foreach (MemberSearchResponseViewModel model in Model.MemberList)
    {
        @await Html.PartialAsync("_PartialMemberInfo", model)
    }
}



