
@{
    ViewData["Title"] = "ViewAndDownloadMemberCard";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}


<div class="container cid_img cont">
        <div class="row middle-xs cid_img">
                <div class="col-xs-6">
                <img src="~/img/SMB_ID CARD_LOGO.jpg" class="cid_logo">
                </div>
                <div class="col-xs-6" style="height:35px">
                <h6>Trust No F 949-1</h6>
                </div>
        </div>
        <div class="row middle-xs">
            <div class="col-xs-6">
            
            </div>
            <div class="col-xs-6" style="text-align:center">
                <img src="~/img/pic.png" class="photo_id">
            </div>
        </div>

        <div class="row middle-xs">
            <div class="col-xs-12">
            <div class="txt-bcl">
                <h5>Member ID: 1400 <h5>
                <h5>Name: Shivani Amit Patil</h5>
                </div>
            </div>
        </div>

        <div class="row middle-xs">
            <div class="col-xs-6">
                <img src="~/img/sign-1.png" class="sign">
                <p style="padding-left:10px">Authorized Signatory</p>
            </div>
            <div class="col-xs-6" style="text-align:center">
                <p style="padding-left:10px; font-weight:bold">Member</p>
            </div>
        </div>
</div>