
@{
    ViewData["Title"] = "ViewAndDownloadMemberCard";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

lass="container">
<div class="row">
<div class="col-lg-3"></div>    

            <div class="col-lg-6">
                <div class="id_box">
                      
                    <!----Content section-->
                        <div class="container">
                            <div class="row ID_content">
                                <div class="col-xs-12" style="padding-right:10px; padding-top:10px;">
                                <div style="float:right"><img src="~/img/pic.png" class="photo_id" /></div>
                                
                                <div class="text-block"><p style="color:#000000">Member</p></div>
                                <div class="text-block-mem">
                                    <p style="color:#000000; font-size:12px">Member ID:</p>
                                    <p style="color:#000000; font-size:12px;margin-top:-5px;">Name:</p>
                                </div> 
                                <div class="text-block-sign">
                                    <img src="~/img/sign-1.png" class="sign_img" />
                                    <p style="color:#000000; margin-top:-10px; font-size:10px">Authorized Signatory </p>
                                </div> 
                                
                            </div>
                            </div>
                               
                        </div>
                        

                        
                        

                    <!----End of Content section-->

                </div>
            </div>    
<div class="col-lg-3"></div>    
</div>
