@model MemberEducationEmploymentInfoViewModel
@{
    ViewData["Title"] = "MemberEduEmpInfo";
    Layout = "~/Views/Shared/_LayoutMemberForm.cshtml";
}

<input name="tab" id="tab3" type="radio" checked />
<section class="tab-content">
    <h2> शिक्षण / नोकरी</h2>
    <div class="section-top-border">
        <div class="row">
            <div class="col-lg-10 col-md-10">
                <form asp-action="MemberEduEmpInfo" asp-controller="Member" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="MemberId" />
                    <div class="input-group-icon mt-10">
                        <input type="text" name="Qualification" asp-for="Qualification" placeholder="Qualification" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qualification'"
                               required class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select">
                            <select asp-for="Proffession">
                                <option value="0">Occupation</option>
                                <option value="Business">Business</option>
                                <option value="Job">Job</option>
                                <option value="Farmer">Farmer</option>
                                <option value="Student">Student</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group-icon mt-10">
                        <input type="text" name="CompanyName" asp-for="CompanyName" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'"
                               required class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <input type="text" name="CompanyAddress" asp-for="CompanyAddress" placeholder="Company Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Address'"
                               required class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <input type="text" name="BusinessName" asp-for="BusinessName" placeholder="Business Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Name'"
                               required class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <input type="text" name="BusinessAddress" asp-for="BusinessAddress" placeholder="Business Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Address'"
                               required class="single-input">
                    </div>
                    <div class="mt-10 center">
                        <button type="submit" class="genric-btn primary-border">Save & Continue..</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

