@model LoginViewModel;
@{
    ViewData["Title"] = "SetPasswordAndPin";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
 <div class="container">
         <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 login-text" >
                    <p style="font-size:16px;">Set your MPIN</p>
                    <img src="~/img/login-icon.png" width="110px" height="110px">
                </div>
                <div class="col-lg-4"></div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="login-type">
                    <div class="form-group">
                        <div class="container">
                            <form asp-action="SetPasswordAndPin" asp-controller="Member" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="MobileNumber" value="@ViewBag.Mobile" />
                                <div class="row">

                                    <div class="col-lg-4 col-md-4 mt-sm-50">
                                        <input type="password" name="MPIN" asp-for="MPIN" maxlength="6" placeholder="Enter 6 digit MPIN" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter 6 digit MPIN'"
                                               required oninvalid="this.setCustomValidity('Enter 6 digit MPIN')"
                                               oninput="this.setCustomValidity('')" class="single-input-primary">
                                    </div>
                                    <div class="col-lg-4 col-md-4 mt-sm-50">
                                        @*<input type="Password" name="Password" asp-for="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"
                                               required oninvalid="this.setCustomValidity('Enter password')"
                                               oninput="this.setCustomValidity('')" class="single-input-primary">*@
                                    </div>
                                    <div class="col-lg-4 col-md-4 mt-sm-50">
                                        @*<input type="password" name="Password" asp-for="Password" placeholder="Re-Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Re-Password'"
                                               required oninvalid="this.setCustomValidity('Enter Re-Password')"
                                               oninput="this.setCustomValidity('')" class="single-input-primary">*@
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-lg-7 col-md-6 mt-sm-50">
                                        <button class="btn btn_12" type="submit" text="Submit">Submit</button>
                                    </div>

                                    <div class="col-lg-5 col-md-6 mt-sm-50">
                                        <h4 class="refer">Refer our Terms & Conditions</h4>
                                    </div>
                                   
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="navigation-top">

                    </div>




                </div>

            </div>
        </div>
    </div>
  