@model MarqueeViewModel
@{
    ViewData["Title"] = "EditMarquee";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<section class="blog_area single-post-area section_padding">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="scroll">
                    <p>Manage Marquee Texts</p>
                </div>
                <div>
                </div>
            </div>
        </div>



        <div class="section-top-border">
            <div class="row" id="BusinessForm">
                <div class="col-lg-12 col-md-12">
                    <form asp-action="EditMarquee" asp-controller="Marquee" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="text" name="Marquee" asp-for="Marquee" placeholder="Marquee Text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Marquee'"
                                       required class="single-input">
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-lg-4">
                                @*<input type="Email" name="CompanyEmail" asp-for="CompanyEmail" placeholder="Company Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Email'"
                                    required class="single-input">*@
                            </div>
                            <div class="col-lg-4" style="margin-top:10px">
                                <input type="submit" class="genric-btn primary-border" value="Submit" />
                                <input type="button" id="btnCancel" class="genric-btn primary-border" value="Cancel" />
                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    

</section>

