.photo-container1 {
    position: relative;
    background: #FFFFFF;
    width: 150px;
    height: 16vh;
    float: left;
    z-index: 20;
}

.logo {
    padding: 10px;
    position: relative;
}

.logo-box {
    width: 30%;
    height: auto;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

@media only screen and (min-width: 1201px) {
    
    .splashscreen {
        height: 975px;
        margin: 0px
    }
    .orgname {
        font-size: 45px;
        font-weight: bold;
        line-height: 26px;
        color: #ffd800;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .pune {
        font-size: 25px;
        font-weight: bold;
        line-height: 22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .addr {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .spalsh-logo {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .spalsh-logo {
        width: 70%;
    }
    .orgname {
        font-size: 40px;
        font-weight: bold;
        line-height: 26px;
        color: #ffd800;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .pune {
        font-size: 25px;
        font-weight: bold;
        line-height: 22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .addr {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .splashscreen {
        height: 875px;
        margin: 0px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .spalsh-logo {
        width: 60%;
    }
    .orgname {
        font-size: 45px;
        font-weight: bold;
        line-height: 26px;
        color: #ffd800;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .pune {
        font-size: 25px;
        font-weight: bold;
        line-height: 22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .addr {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .splashscreen {
        height: 775px;
        margin: 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .spalsh-logo {
        width: 60%;
    }
    .orgname {
        font-size: 45px;
        font-weight: bold;
        line-height: 26px;
        color: #ffd800;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .addr {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .pune {
        font-size: 25px;
        font-weight: bold;
        line-height: 22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .splashscreen {
        height: 675px;
        margin: 0px
    }
}

@media only screen and (max-width: 576px) {
    .spalsh-logo {
        width: 55%;
    }
    .orgname {
        font-size: 45px;
        font-weight: bold;
        line-height:26px;
        color:#ffd800;margin:10px 0px 10px 0px; 
        text-shadow: 1px 7px 4px #E34D19;
    }
    .pune {
        font-size:25px;
        font-weight: bold;
        line-height:22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .addr {
        font-size: 18px;
        font-weight:500;
        line-height: 22px;
        color: #000000;
        margin: 10px 0px 10px 0px;
        text-shadow: 1px 7px 4px #E34D19;
    }
    .splashscreen {
        height: 630px;
        margin: 0px
    }

    .fade-in-image {
        animation: fadeIn 7s;
        -webkit-animation: fadeIn 7s;
        -moz-animation: fadeIn 7s;
        -o-animation: fadeIn 7;
        -ms-animation: fadeIn 7s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.splashscreen {
    background-image: url('@Url.Content("~/img/screen.png")');
    position: relative;
    padding-top: 30%;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
