
@{
    ViewData["Title"] = "AddEventAds";
    Layout = "~/Views/Shared/_LayoutMemberHome.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div style="height:25px"></div>
            <div class="section-top-border">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-select" id="default-select" ">
                                        <select>
                                            <option calue="0">Select Year</option>
                                            <option value=" 1">2022</option>
                                            <option value="1">2021</option>
                                            <option value="1">2020</option>
                                            <option value="1">2019</option>
                                            <option value="1">2018</option>
                                            <option value="1">2017</option>
                                            <option value="1">2016</option>
                                            <option value="1">2015</option>
                                            <option value="1">2014</option>
                                            <option value="1">2013</option>
                                            <option value="1">2012</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="form-select" id="default-select" ">
                                        <select>
                                            <option value=" 1">Select Event Title</option>
                                            <option value="1">२६ जानेवारी प्रजासत्ताक दिवस</option>
                                            <option value="1">१५ ऑगस्ट स्वातंत्र्यदिन</option>
                                            <option value="1">१ मे कामगार दिन व मेळावा</option>
                                            <option value="1">वधू - वर मेळावा</option>
                                            <option value="1">वृक्षारोपण</option>
                                            <option value="1">सरदार वल्लभ भाई पटेल जयंती</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <br>
                                        <input type="file" name="firmIndustry" placeholder="Name of the firm / Industry" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name of the firm / Industry'"
                                               required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4" style="margin-top:10px">
                                        <a href="#" class="genric-btn primary-border">View</a>
                                    </div>
                                    <div class="col-lg-4"></div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
