@model EventViewModel
@{
    ViewData["Title"] = "EditEvent";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
<script>
      $(document).ready(function(){
     $('input[type="button"]').click(function(){
        var id= $(this).prop("id");

                       $.ajax({
                         type: "POST",
                         url: "@Url.Action("DeleteEventPhoto", "AdminDashboard")",
                         data: { "id": $(this).prop("id") },
                         success: function (response) {

                            $("#"+id).hide();
                            $("#img"+id).hide();
                             alert(response);
                         },
                         failure: function (response) {
                             alert(response.responseText);
                         },
                         error: function (response) {
                             alert(response.responseText);
                         }
                     });
     });

      });
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12 posts-list">
            <div class="col-lg-12">
                <div class="scroll">
                    <p>Update Event Details</p>
                </div>
                <div>
                </div>
            </div>


            <div class="section-top-border">
                <div class="row" id="eventForm">
                    <div class="col-lg-10 col-md-10">
                        <form asp-action="EditEvent" asp-controller="AdminDashboard" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="EventId" />
                            <div class="input-group-icon mt-10">
                                <div class="form-select" id="default-select">
                                    <select asp-items="Model.EventYears" asp-for="EventYear">
                                    </select>
                                </div>
                            </div>



                            <div class="input-group-icon mt-10">
                                <div class="form-select" id="default-select">
                                    <select asp-for="EventName" asp-items="Model.EventTitles">
                                    </select>
                                </div>
                            </div>
                            <div class="mt-10">
                                <textarea class="single-textarea" id="text" name="EventDescription" asp-for="EventDescription" placeholder="EventDescription" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Event Description'"
                                          required></textarea>
                            </div>
                            <div class="mt-10">
                                <p>uploaded Images</p>
                                @if (Model.eventGalleries.Count > 0)
                                {
                                    foreach (var item in Model.eventGalleries)
                                    {
                                        <span class="cssbox_full">
                                            <img id=@("img"+@item.Id) src="~/EventGallery/@item.FilePath.Split('/')[2]" style="width:100px;height:100px;">
                                            <input type="button" id="@item.Id" value="Remove" />
                                        </span>
                                    }
                                }

                                <p>upload event images</p>
                                <input type="file" class="single-input" asp-for="FormFiles" multiple="multiple" placeholder="Event Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Event Descriptionn'" />
                            </div>
                            <div class="mt-10" style="float:right">
                                <input type="submit" class="genric-btn primary" style="background-color:#77002e;margin-right:20px">
                                <a asp-action="AddEvent" asp-controller="AdminDashboard" id="btnCancel" class="genric-btn primary" style="background-color:#77002e;margin-right:20px">Cancel</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>






        </div>

    </div>
</div>

<script>
    $(function () {
        CKEDITOR.replace('text');
    });
</script>

