@model EventTitlesViewModel
@{
    ViewData["Title"] = "EventTitles";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}



<script>
    $(document).ready(function () {
        $("#eventForm").hide();
        $('#tblEvents').DataTable();
        $("#btnAddNew").click(function () {
            $("#eventForm").show();
            $(this).hide();
        });
        $("#btnCancel").click(function () {
            $("#eventForm").hide();
            $("#btnAddNew").show();
        });
    });
</script>
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="scroll">
                    <p>Event Titles</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top-border">
                    <div class="row" id="eventForm">
                        <div class="col-lg-10 col-md-10">
                            <form asp-action="AddEventTitle" asp-controller="AdminDashboard" method="post" enctype="multipart/form-data">

                                <div class="input-group-icon mt-10">

                                    <input type="text" class="single-input" required asp-for="EventTitle" placeholder="Event Date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Event Title'" />
                                </div>



                                <div class="mt-10" style="float:right">
                                    <input type="submit" class="genric-btn primary" style="background-color:#77002e;margin-right:20px">
                                    <input type="button" id="btnCancel" class="genric-btn primary" style="background-color:#77002e;margin-right:20px" value="Cancel">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Event list*@
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin:10px 0px 10px 13px;">
                <button value="Add New" id="btnAddNew" class="btn btn-danger">Add New</button>
            </div>
            <br />
            <div class="col-lg-12">

                <table id="tblEvents" class="display" style="width:100%">
                    <thead>
                        <tr>
                            
                            <th>Event Title</th>
                            
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.EventTitles != null)
                        {
                            foreach (var eventAd in Model.EventTitles)
                            {
                                <tr>
                                 
                                    <td>@eventAd.EventTitle</td>
                       

                                    <td>
                                        <a href="@Url.Action("EditEventTitle","AdminDashboard",new { id = eventAd.Id})"><i class="ti-pencil"></i></a>
                                        <a title="Delete Event" href="@Url.Action("DeleteEventTitle","AdminDashboard",new { id = eventAd.Id})" class="delete-row" onclick="return confirm('Are sure wants to delete?');"><i class="ti-close"></i></a>
                                    </td>

                                </tr>
                            }

                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>