@model JobPostingViewModel
@{
    ViewData["Title"] = "JobPost";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<!-- breadcrumb start-->

<!-- breadcrumb start-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <p class="excert">
                            <b>  Post Job Details</b>
                        </p>
                    </div>
                </div>


                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <form asp-action="JobPost" asp-controller="AdminDashboard" method="post">
                                <div class="input-group-icon mt-10">
                                    <input type="text" name="JobTitle" asp-for="JobTitle" placeholder="Job Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Job Title'"
                                           required class="single-input">
                                </div>
                                <div class="input-group-icon mt-10">
                                    <textarea class="single-textarea" placeholder="JobDescription" asp-for="JobDescription" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Job Description'"
                                              required></textarea>
                                </div>
                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                    <div class="form-select" id="default-select">
                                        <select asp-for="PositionFor">
                                            <option value="0">Job for</option>
                                            <option value="Both">Both</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-group-icon mt-10">
                                    <input type="text" name="Age" asp-for="Age" placeholder="Age Limit" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Age Limit'"
                                           required class="single-input">
                                </div>
                                <div class="input-group-icon mt-10">
                                    <input type="text" name="CompanyName" asp-for="CompanyName" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'"
                                           required class="single-input">
                                </div>
                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                    <input type="text" name="JobLocation" asp-for="JobLocation" placeholder="Job Location" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Job Location'"
                                           required class="single-input">
                                </div>

                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                    <input type="text" name="Qualification" asp-for="Qualification" placeholder="Qualification Required" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qualification Required'"
                                           required class="single-input">
                                </div>

                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                    <input type="text" name="SalaryBand" asp-for="SalaryBand" placeholder="Salary Bank Offer" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Salary Bank Offer'"
                                           required class="single-input">
                                </div>

                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                    <input type="text" name="Experiance" asp-for="Experiance" placeholder="Year of Experience" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Year of Experience'"
                                           required class="single-input">
                                </div>

                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                    <input type="text" name="CompanyContact" asp-for="CompanyContact" placeholder="Company Contact No." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Contact No.'"
                                           required class="single-input">
                                </div>

                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                    <input type="Email" name="CompanyEmail" asp-for="CompanyEmail" placeholder="Company Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Email'"
                                           required class="single-input">
                                </div>

                                <div class="mt-10 center">
                                    <input type="submit" class="genric-btn primary-border"/>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="navigation-top">

                </div>




            </div>

        </div>
    </div>
</section>

