@model MemberBusinessViewModel
@{
    ViewData["Title"] = "RegisterBusiness";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}
<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p>  Register Your Business</p>
            </div>
        </div>
    </div>
</div>
<div class="seperate"></div>
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-12 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <p class="excert">
                            Register Your Business
                        </p>
                    </div>
                </div>*@


                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <form asp-action="RegisterBusiness" asp-controller="BusinessDashboard" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" name="BusinessTitle" asp-for="BusinessTitle" placeholder="Business Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Title'"
                                               required class="single-input">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" name="BusinessIndustry" asp-for="BusinessIndustry" placeholder="Name of the firm / Industry" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name of the firm / Industry'"
                                               required class="single-input">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="text" name="CompanyLocation" asp-for="CompanyLocation" placeholder="Company location" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company location'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="Address" asp-for="Address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="OwnerName" asp-for="OwnerName" placeholder="Owner name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Owner name'"
                                               required class="single-input">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="text" name="ProductsServices" asp-for="ProductsServices" placeholder="Products or Services" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Products or Services'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="Qualification" asp-for="Qualification" placeholder="Qualification Required" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qualification Required'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="CompanyContact" asp-for="CompanyContact" placeholder="Company Contact No." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Contact No.'"
                                               required class="single-input">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="Email" name="CompanyEmail" asp-for="CompanyEmail" placeholder="Company Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Email'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4" style="margin-top:10px">
                                        <input type="submit" class="genric-btn primary-border" value="Submit">
                                    </div>
                                    <div class="col-lg-4">

                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    
</section>
