@model MemberBusinessViewModel
@{
    ViewData["Title"] = "RegisterBusiness";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <p class="excert">
                            Register Business Details
                        </p>
                    </div>
                </div>


                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <form asp-action="RegisterBusiness" asp-controller="BusinessDashboard" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" name="BusinessTitle" asp-for="BusinessTitle" placeholder="Business Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Title'"
                                               required class="single-input">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" name="BusinessIndustry" asp-for="BusinessIndustry" placeholder="Name of the firm / Industry" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name of the firm / Industry'"
                                               required class="single-input">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="text" name="CompanyLocation" asp-for="CompanyLocation" placeholder="Company location" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company location'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="Address" asp-for="Address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="OwnerName" asp-for="OwnerName" placeholder="Owner name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Owner name'"
                                               required class="single-input">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="text" name="ProductsServices" asp-for="ProductsServices" placeholder="Products or Services" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Products or Services'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="Qualification" asp-for="Qualification" placeholder="Qualification Required" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qualification Required'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="CompanyContact" asp-for="CompanyContact" placeholder="Company Contact No." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Contact No.'"
                                               required class="single-input">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="Email" name="CompanyEmail" asp-for="CompanyEmail" placeholder="Company Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Email'"
                                               required class="single-input">
                                    </div>
                                    <div class="col-lg-4" style="margin-top:10px">
                                        <input type="submit" class="genric-btn primary-border" value="Submit">
                                    </div>
                                    <div class="col-lg-4">

                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011/07/25</td>
                            <td>$170,750</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12</td>
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                            <td>2012/03/29</td>
                            <td>$433,060</td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>33</td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                        </tr>
                        <tr>
                            <td>Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td>61</td>
                            <td>2012/12/02</td>
                            <td>$372,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
