
@{
    ViewData["Title"] = "EventDashboard";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<div class="seperate"></div>

<!--------------dashboard-------------->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Events</p>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-1--------------->
            <div class="container">
                <div class="row " style="margin-top:20px">
                    <div class="col-xs-6 r1c1 dashboard" style="margin-left:17%">
                        <a asp-action="SearchEvents" asp-controller="Events"><img src="~/img/Event-search.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Search All Events</h3>
                    </div>
                    @*<div class="col-xs-6 r1c1 dashboard">
                        <img src="~/img/Select event.png" class="dashboard-icon">
                        <h3 style="color:#000000">Select</h3>
                    </div>*@
                </div>
            </div>
            <!------------End of icon dashbaord row-1--------------->
        </div>
    </div>
</div>
<div class="seperate"><hr style="border:1px dashed #a7a7a7"></div>
<div class="seperate"></div>
