@model SearchEventViewModel
@{
    ViewData["Title"] = "SearchEvents";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}
<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Events</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="search-box">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 style="text-align:center" >Search by Events</h5>
                           <!------------icon dashbaord row-1--------------->
                            <div class="container">
                                <form asp-action="SearchEvents" asp-controller="Events" method="post">
                                    <div class="row ">

                                        <div class="col-sm-6">
                                            <input text="text" name="EventYear" asp-for="EventYear" class="search-box_input" placeholder="Enter Year" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Year'">
                                        <div class="orcondit"><h6>OR</h6></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select>
                                                <option value="0"></option>
                                                <option value="Event1">Event1</option>
                                                <option value="Event1">Event2</option>
                                            </select>
                                            <input text="text" name="EventTitle" asp-for="EventTitle" class="search-box_input" placeholder="Event Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Event Title'">
                                        </div>
                                    </div>
                                    <div class="row ">

                                        <div class="col-lg-12">
                                            <table class="btntbl">
                                                <tr>
                                                    <td width="50%"><input type="reset" name="search" class="allresetbtn"></td>
                                                    <td width="50%"><input type="submit" value="Search"  id="btnreset" class="allsubmitbtn" ></td>
                                                </tr>
                                            </table>

                                        </div>
                                     </div>
                                </form>
                            </div>
                            <!------------End of icon dashbaord row-1--------------->
                        </div>
                    </div>
                </div>
                <div class="seperate"></div>
            </div>
        </div>
    </div>
</div>
<div class="seperate"></div>

<!------------Search Result--------------->

<div class="container">
    @if (Model.Events!=null)
    {
        foreach (var eventInfo in Model.Events)
        {

    <div class="row" style="margin-bottom:20px">
        <div class="col-lg-12">
            <div class="container search_result">
                <div class="row">
                    <div class="col-xs-3 search_pic">
                        <div text-align:center">
                            <img src="~/img/Select event.png" class="pic_img">
                        </div>
                    </div>
                    <div class="col-xs-9 pic_content">
                        <div class="container" >
                            <div class="row">
                                <div class="col-xs-10 left-box"><lable>Event Title : @eventInfo.EventName</lable></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 left-box"><lable>Event Year : @eventInfo.EventYear</lable></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 left-box"><lable>Description : @eventInfo.EventDescription</lable></div>

                            </div>
                            <div class="row" style="margin-top:20px">
                                <div class="col-xs-10 left-box"><a asp-controller="Events" asp-action="EventDetails" asp-route-EventId="@eventInfo.EventId" class="allviewbtn"><i class="ti-eye"> </i>View</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
    }
</div>

