
@{
    ViewData["Title"] = "PaymentFail";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1>Payment Failed</h1>
<p>Oops ! Something went wrong. Please conatct helpdesk or retry after sometime.</p>

