
@{
    ViewData["Title"] = "PaymentFail";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="seperate"></div>
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <h3>Payment Failed !</h3>                       
                        <h5>
                            Oops ! Something went wrong. Please conatct helpdesk or retry after sometime.
                        </h5>
                      
                        <a class="" asp-action="MemberHome" asp-controller="Home">Home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

